<div class="main-container bg-dark-gradient">
  <div class="container py-5 py-lg-6">
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-3 mb-5 mb-lg-0">
        <img class="d-block mb-4" src="assets/img/logo.svg" alt="..." width="64">
        <p class="text-secondary">Don't trust our words, trust our code. The Betoken protocol is available on <a class="text-white" href="https://github.com/Betoken/" target="_blank">Github</a>.</p>
      </div>
      <div class="col-12 col-lg-3 offset-lg-3 mb-5 mb-lg-0">
        <h4 class="text-white">Join our community</h4>
        <div class="list-group list-group-flush">
          <a class="list-group-item text-white border-0 pl-0" href="https://twitter.com/betokenfund" target="_blank">Twitter</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://t.me/betokenJapanese" target="_blank">Telegram</a>
          <a class="list-group-item text-white border-0 pl-0" href="https://medium.com/betoken" target="_blank">Medium</a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <h4 class="text-white mb-4">Subscribe to the Betoken Report</h4>
        <form action="https://fund.us17.list-manage.com/subscribe/post?u=9c0647dcb587985ed6121cdf6&amp;id=150e0f091e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100" target="_blank" novalidate>
          <div class="input-group input-group-lg mb-3">
            <input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c0647dcb587985ed6121cdf6_150e0f091e" tabindex="-1" value=""></div>
            <div class="input-group-append">
              <button class="btn btn-success border-0" name="subscribe" id="mc-embedded-subscribe">
                  <span class="fe fe-send"></span>
              </button>
            </div>
          </div>
        </form>
        <a class="text-white" href="https://betoken.gitbook.io/docs/connect-your-capital/what-is-the-fees-structure" target="_blank">Get help<i class="fe fe-arrow-right ml-2"></i></a>
        <!--End mc_embed_signup-->
      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card card-inactive mb-0">
          <div class="card-body">
            <h3 class="text-white">免責条項</h3>
            <p class="text-muted">
              ここに記載されている内容は、いかなる証券またはトークンの売却の申し出、または購入の申し込みの勧誘を行うものではありません。
            </p>
            <p class="text-muted">
              Betokenは、オープンソースであるスマートコントラクトを使用して資本接続と管理を可能にします。 Betokenはトークンを管理しておらず、投資家や運用会社にとっての協調的なハブにすぎません。
              Betokenは、認可銀行、ブローカーディーラー、投資顧問または取引所ではありません。
              Betokenはパートナーのプロトコル（Kyber、Compound、bZx、Maker DAO）を使用して独自のエコシステムを強化しています。
            </p>
            <p class="text-danger">
              💀 This project is in beta. Use at your own risk.
            </p>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .main-container -->
